*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
h2:hover{
    animation: myAnim 2s ease 0s 1 normal forwards;
}
.container{
    background: linear-gradient(90deg, rgba(23, 162, 177, 0.51) 0%, #0EF556 100%, #D20606 100%);height: 100vh;
}
.salida{
    text-transform: uppercase;
    width: 30%;
    height: 100px;
    margin: 10px auto;
    border: 1px solid #000;

}

@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}